#welcome {
    height: 400px;
    width: 400px;
    margin: auto;
    position: absolute;
}

#disclaimer {
    position: absolute;
    bottom: 0;
    right: 0;
}

.grid-container {
    display: grid;
    justify-content: space-around;
    grid-template-areas:
        "Header Header"
        "Human AI"
        "Result Result"
        "Footer Footer";
}

.Title {
    grid-area: Header;
    display: none;
}

.Human {
    width: 506px;
    grid-area: Human;
    display: none;
}

.AI {
    width: 506px;
    grid-area: AI;
    display: none;
}

.Result {
    justify-content: center;
    grid-area: Result;
    display: flex;
    margin-top: 30px;
}

.Footer {
    text-align: center;
    grid-area: Footer;
    display: none;
}

